{* Latte template *}

{block content}
<div style="width: 50%; float: left">
<p>Nhập thông tin của chuyên viên môi giới</p>
{control $agentEditForm}
</div>
<div style="float: right">
<p>Nhập thông tin của công ty (văn phòng) môi giới</p>
    {control $companyEditForm}
</div>